* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
   height: 100%;
}

button, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

.loadLevel-btn{
    width: 48%;
}

#import-export-btn{
    height: 100%;
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#level-file-input {
    display: none;
}

label[for="level-file-input"] {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#top-menu-bar{
    width: 100vw;
    height: 15vh;
}

#side-menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 85vh;
    overflow: hidden;
}

#game-container{
    width: 85vw;
    height: 85vh;
}

#game-canvas{
    width: 100%;
    height: 100%;
    display: block;
}